<!-- code_quality_checker.html -->
<html>
<head>
    <title>Code Quality Checker</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
          integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#analyze-button').on('click', function () {
                var form_data = new FormData();
                var ins = document.getElementById('multi-files-input').files.length;

                if (ins == 0) {
                    $('#msg').html('<span style="color:red">Select at least one file</span>');
                    return;
                }

                for (var x = 0; x < ins; x++) {
                    form_data.append("files[]", document.getElementById('multi-files-input').files[x]);
                }

                csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

                //console.log(csrf_token);

                form_data.append("csrfmiddlewaretoken", csrf_token);

                $.ajax({
                    url: '/code-quality-checker/',
                    dataType: 'json', // what to expect back from server
                    cache: false,
                    contentType: false,
                    processData: false,
                    //data: {'data': form_data, 'csrfmiddlewaretoken': csrf_token},
                    data: form_data,
                    type: 'post',
                    success: function (response) { // display success response
                        $('#msg').html(response.msg);
                        // 'response.analysis' contains the list of objects received from the server
                        var responseView = $('#response');
                        var responseData = response.analysis;

                        // Iterate through the list and append each object to the unordered list
                        responseData.forEach(function (file) {
                            responseView.append('<h3>' + file.file_name + "</h3>");
                            responseView.append('<div class="col-10" style="background-color: #f3f4f6; color: #7825be;"><h5>Code</h5>' + file.file_content.replace(/\n/g, "<br>") + '</div>');
                            responseView.append('<div class="col-10" style="background-color: #bfecbe; color: #145f13;"> <h5>Analysis</h5>' + file.openai_analysis.replace(/\n/g, "<br>") + "</div>");
                        });
                    },
                    error: function (response) {
                        $('#msg').html(response.message); // display error response
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="container p-3">
    <h1>Code Quality Checker</h1>
    Code quality analyzing tool powered by OpenAi ...
    <hr>

    <fieldset name="Multiple Files Upload">
        {% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}
        <div id="msg"></div>
        <p>
            {% csrf_token %}
            <input type="file" id="multi-files-input" name="files[]" multiple="multiple"/>
            <br>
            <br>
            <button id="analyze-button" class="btn btn-primary">Upload and Analyze Code</button>
        </p>
    </fieldset>

    <div class="container" id="response" ></div>

</div>
</body>
</html>
