<!-- testbot.html -->
<html>
<head>
	<title>Auto Test Gen</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
	<script>
		$(document).ready(function() {
			// Send the form on enter keypress and avoid if shift is pressed
			$('#prompt').keypress(function(event) {
				if (event.keyCode === 13 && !event.shiftKey) {
					event.preventDefault();
					$('form').submit();
				}
			});
			$('form').on('submit', function(event) {
				event.preventDefault();
			// get the CSRF token from the cookie
			var csrftoken = Cookies.get('csrftoken');

			// set the CSRF token in the AJAX headers
			$.ajaxSetup({
				headers: { 'X-CSRFToken': csrftoken }
			});
				// Get the prompt
				var prompt = $('#prompt').val();
				var dateTime = new Date();
				var time = dateTime.toLocaleTimeString();
				// Add the prompt to the response div
				$('#user_input').html('<h5>Textual Requirement | User Stories Given: </h5>' + prompt.replace(/\n/g, "<br>"));
                $('#test_model').html('<h5>Test Model: </h5> <br> Loading ...');
                $('#uml_test_model').html('<h5>UML Test Model: </h5> <br> Loading ...');
                $('#test_cases').html('<h5>Test Cases: </h5> <br> Loading ...');
                $('#test_scripts').html('<h5>Test Scripts: </h5> <br> Loading ...');
                $('#test_data').html('<h5>Test Data: </h5> <br> Loading ...');
				// Clear the prompt
				$('#prompt').val('');
				$.ajax({
					url: '/testbot/',
					type: 'POST',
					data: {prompt: prompt},
					dataType: 'json',
					{% comment %}success: function(data) {
						$('#response').append('<p>('+ time + ') <i class="bi bi-robot"></i>: ' + data.response + '</p>');
					}{% endcomment %}
                    success: function(data) {
                        var testModelFormattedResponse = data.test_model.replace(/\n/g, "<br>");
						$('#test_model').html('<h5>Test Model: </h5>' + testModelFormattedResponse);
                        $('#uml_test_model').html('<h5>UML Diagram: </h5> ' +
                            '<img src="../media/diagrams/diagram.png" alt="UML Diagram">');
                        var testCasesFormattedResponse = data.test_cases.replace(/\n/g, "<br>");
						$('#test_cases').html('<h5>Test Cases: </h5>' + testCasesFormattedResponse);
                        var testScriptsFormattedResponse = data.test_scripts.replace(/\n/g, "<br>");
						$('#test_scripts').html('<h5>Test Scripts: </h5>' + testScriptsFormattedResponse);
                        var testDataFormattedResponse = data.test_data.replace(/\n/g, "<br>");
						$('#test_data').html('<h5>Test Data: </h5>' + testDataFormattedResponse);
					}
				});
			});
		});
	</script>
</head>
<body>
	<div class="container p-3">
		<h1>Auto Test Gen</h1>
        General-Purpose Testing Engine powered by OpenAi ...
        <hr>

		<div class="mb-3">
			<form method="post">
				{% csrf_token %}
				<label for="prompt" class="form-label"><strong>Please enter your textual requirement or user stories here: </strong></label>
				<textarea class="form-control" type="textarea" id="prompt" name="prompt" rows="12"></textarea>
				<br>
				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
		<br>
{#        <h3>Auto Test Gen Response:</h3>#}
        <div class="mb-3 bg-secondary text-light rounded">
			<div class="container" id="user_input"></div>
		</div>
		<div class="mb-3 bg-light rounded">
			<div class="container" id="test_model"></div>
		</div>
        <div class="mb-3 bg-light rounded">
			<div class="container" id="uml_test_model"></div>
		</div>
        <div class="mb-3 bg-light text-primary rounded">
			<div class="container" id="test_cases"></div>
		</div>
        <div class="mb-3 bg-light rounded">
			<div class="container" id="test_scripts"></div>
		</div>
        <div class="mb-3 bg-light text-primary rounded">
			<div class="container" id="test_data"></div>
		</div>
	</div>
</body>
</html>
